# Host configuration for Strapi
HOST_URL=Modify
APP_PORT=Modify
DB_PORT=Modify

#Database configuration for Strapi
DATABASE_NAME=Modify
DATABASE_USER=Modify
DATABASE_PASSWORD=Modify

#User configuration
USER_USERNAME=[User1's Name]
USER_EMAIL=[User1's eamil]
USER_PASSWORD=[User1' password]

# This was inserted by `prisma init`:
[object Promise]
DATABASE_URL=[Laction Database]